@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Poppins:wght@200;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

.header-title{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    font-size: 32px;
   
    font-family:'Poppins', sans-serif;
    letter-spacing: 9px;
    padding: 25px;
}

.info-container{
    background-color: #BADCDD;
    padding: 75px;
    height: auto;
}

.info-container h2{
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container p{
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
   text-align: center;
   display: flex;
   justify-content: center;
   padding: 20px 10px 20px 10px;

}

.btn-header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 10px 55px 10px 55px;
    border: 0;
    background-color: #BADCDD;
    border: 3.5px solid black;
    font-family: 'Montserrat', sans-serif;
    transition: 300ms;
}

.btn-header:hover{
    border: 3.5px solid white;
    color: white;
    transition: 300ms;
    cursor: pointer;
}

.portfolio-title{
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    line-height: 19px;
    letter-spacing: 3px;
}
